:root {
  --beige: #EAD9C9;
  --maroon: #8B1C15;
  --forest: #6C8C6E;
}

* {
  scroll-behavior: smooth;
  font-family: "Courier New", Courier, monospace;
  cursor: default;
  background-color: var(--beige);
}

header {
  padding-top: 6.8em;
}

img {
  height: 6em;
}

a:hover,
button:hover,
#links a:hover {
  cursor: pointer;
  color: var(--forest);
}

.img-container {
  width: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

header,
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--maroon);
  color: var(--beige);
}

#navbar, a {
  padding-bottom: 1.4em;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: var(--maroon);
  color: var(--beige);
  font-size: 1.1em;
}

h1 {
  font-size: 2.8em;
  font-weight: bolder;
}

h2 {
  font-weight: bolder;
  font-size: 2.2em;
  text-align: center;
}

#links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  width: 100%;
  padding-top: 0.2em;
  padding-bottom: -0.2em;
}

#links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--beige);
  font-size: 0.9em;
  width: fit-content;
  text-decoration: none;
  font-weight: lighter;
  color: black;
}

h4 {
  text-decoration: underline;
  text-align: center;
  font-size: 1.5em;
}

#h4-description {
  text-decoration: none;
  font-size: 1.2em;
  align-items: center;
  display: block;
  text-align: center;
}

#h4-button-description {
  align-items: center;
  text-align: center;
}

#no-button:hover {
  color: black;
  cursor: default;
}

#h4-button {
  text-align: center;
  align-items: center;
  display: flex;
  font-size: 1.5em;
  border: var(--forest) solid 1.5px;
  text-decoration: underline;
  margin: auto auto;
}

h5 {
  font-size: 1.4em;
  text-indent: 1em;
}

button {
  font-size: 1.3em;
  font-weight: bold;
  padding-right: 0.5em;
  color: black;
  border: none;
}

.description {
  font-size: 1.1em;
  font-weight: bold;  
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: justify;
  gap: 1em;
  background-color: var(--beige)
}

.three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: justify;
}

#responsibility-container {
  align-items: center;
  justify-content: center;
  margin: auto;
}

.check-btn {
  background-color: var(--maroon);
  font-size: 0.8em;
  margin-left: 0.4em;
  border-radius: 20px;
}

.user-input {
  width: 18em;
  font-size: 0.8em;
  border-radius: 5px;
  padding: 0.3em;
}

.user-input:hover {
  cursor: text;
}

.left {
  text-align: left;
}

@media (max-width: 1600px) {
  img {
    height: 4.2em;
  }
}

@media (max-width: 700px) {
  img {
    height: 6em;
    
  }
}

@media (max-width: 600px) {
  img {
    height: 4em;
  } 
}